div{
    text-align: left;
}
a{
    color: #364d97;
    border-bottom: 2px solid rgb(115, 73, 156);
    text-decoration: none;
}
main{
    width: 60%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
body{
    padding: 20px 20px 20px 20px;
}
p{
   margin-top: 20px;
   margin-bottom: 20px;
    line-height: 22px;
}
